<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>templates首页aaa</title>
</head>
<body>
    <form  action="#" th:action="@{/User/doSomething}"  method="post">
        <input name="_method"  hidden="true" value="put" />
        <input  name="id"   value="123" />
        <button type="submit">更新</button>
    </form>
</body>
</html>